* {
	margin: 0;
	padding: 0;
}

.shadetier {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #BFBFBF;
	z-index: 1000;
}
.showcasebox,.showcase_alert,.showcase_confirm {
	width: 600px;
	height: 400px;
	background: #F5F5F5;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.showcase_alert {
	width: 440px;
	height: 320px;
}
.showcase_confirm{
    width: 560px;
    height: 360px;
}

.modal_header {
	padding: 14px;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.modal_header:after {
	clear: both;
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.modal_close {
	display: inline-block;
	float: right;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	cursor: pointer;
}

.modal_close:hover {
	opacity: .5;

}

.modal_body {
	display: flex;
	display: -webkit-flex;
	height: 64%;
	padding: 14px;
}
.nobutton {
	height: 80%;
}
.modal_body .left {
	width: 16%;
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid #e5e5e5;
}

.modal_body .right {
	width: 84%;
	height: 100%;
	overflow-y: auto
}

.modal_body .left .list div {
	text-indent: 1em;
	height: 30px;
	line-height: 30px;
}

.modal_body .right .content {
	flex-direction: column;
}

.modal_body .right .content .title {
	width: 60px;
	margin: 4px 10px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	font-weight: 700;
	border-bottom: 3px #5ace73 solid;
}

.modal_body .right .content .text {
	display: flex;
	display: -webkit-flex;
	margin: 10px;
}

.modal_body .right .content .text div {
	align-items: center;
	justify-content:center;
	display: -webkit-flex;
	margin-left: 10px;
	font-size: 14px;
}
.modal_body .right .content .text div:first-child {
	margin-left: 0;
}
.modal_body .right .content .text div input[type=text] {
	height: 30px;
	line-height: 30px;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 3px;
	margin-left: 10px;
	margin-right: 10px;
	width: 96%;
}

.modal_body .right .content .text div input[type=button],.t_button {
	margin-left: 10px;
	padding: 0 10px;
	min-width: 80px;
	cursor: pointer;
	height: 30px;
	background: inherit;
	background-color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(204, 204, 204, 1);
	border-radius: 3px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
}

.modal_body .right .content .text div input[type=button]:hover,.t_button:hover {
	background-color: rgba(0, 153, 204, 1);
	border: none;
	color: #fff;
}

/*滚动条样式*/
.modal_body .right::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 4px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 4px;
}

.modal_body .right::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}

.modal_body .right::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(0, 0, 0, 0.1);
}
.modal_buttonbox {
	margin:0 20px ;
	text-align: right;
}